/* App.css */

.app-container {
  display: flex;
}

.left-section {
  flex: 2;
  padding: 20px;
  background-color: #e0e0e0;
}

.right-section {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
  height: auto;
}
.img2{
  margin-top: 0px;
margin-left: 720px;
width: 720px;
height: 810px;
background: transparent url('assets/images/Group2.png') 0% 0% no-repeat padding-box;
opacity: 1;
}